<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"0","margin":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:0;margin-bottom:0">
	<!-- wp:query-title {"align":"wide","style":{"spacing":{"margin":{"top":"60px","bottom":"30px"}}}} /-->

	<!-- wp:post-template {"align":"wide","layout":{"type":"default"}} -->
		<!-- wp:post-title {"isLink":true} /-->
		<!-- wp:post-date /-->
		<!-- wp:post-excerpt /-->
		<!-- wp:separator -->
		<hr class="wp-block-separator"/>
		<!-- /wp:separator -->
	<!-- /wp:post-template -->

	<!-- wp:query-pagination {"align":"wide","layout":{"type":"flex","justifyContent":"center"}} -->
		<!-- wp:query-pagination-previous /-->
		<!-- wp:query-pagination-numbers /-->
		<!-- wp:query-pagination-next /-->
	<!-- /wp:query-pagination -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->

