<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"0","margin":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:0;margin-bottom:0">
	<!-- wp:post-title {"align":"wide","style":{"spacing":{"margin":{"top":"60px","bottom":"30px"}}}} /-->

	<!-- wp:post-featured-image {"align":"wide"} /-->

	<!-- wp:post-content {"align":"wide","layout":{"type":"default"}} /-->

	<!-- wp:separator {"align":"wide"} -->
	<hr class="wp-block-separator alignwide"/>
	<!-- /wp:separator -->

	<!-- wp:post-navigation-link {"type":"previous","label":"Previous Post"} /-->
	<!-- wp:post-navigation-link {"type":"next","label":"Next Post"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->

