<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"0","margin":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:0;margin-bottom:0">
	<!-- wp:pattern {"slug":"businessorange/hero-section"} /-->

	<!-- wp:pattern {"slug":"businessorange/about-section"} /-->

	<!-- wp:pattern {"slug":"businessorange/services-section"} /-->

	<!-- wp:pattern {"slug":"businessorange/pricing-section"} /-->

	<!-- wp:pattern {"slug":"businessorange/cta-section"} /-->

	<!-- wp:pattern {"slug":"businessorange/blog-section"} /-->

	<!-- wp:pattern {"slug":"businessorange/clients-section"} /-->

	<!-- wp:pattern {"slug":"businessorange/contact-section"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->

