<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"0","margin":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:0;margin-bottom:0">
	<!-- wp:pattern {"slug":"gpoint/hero-slider"} /-->

	<!-- wp:pattern {"slug":"gpoint/intro-section"} /-->

	<!-- wp:pattern {"slug":"gpoint/stats-section"} /-->

	<!-- wp:pattern {"slug":"gpoint/solutions-grid"} /-->

	<!-- wp:pattern {"slug":"gpoint/solution-detail-zalo"} /-->

	<!-- wp:pattern {"slug":"gpoint/solution-detail-website"} /-->

	<!-- wp:pattern {"slug":"gpoint/industries-section"} /-->

	<!-- wp:pattern {"slug":"gpoint/why-choose-us"} /-->

	<!-- wp:pattern {"slug":"gpoint/partners-section"} /-->

	<!-- wp:pattern {"slug":"gpoint/contact-form"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->

